# Dictionaries

In [1]:
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:80% !important; }</style>"))

### Cities to add:
1.Bangalore (India, Asia)

2.Atlanta (USA, North America)

3.Cairo (Egypt, Africa)

4.Shanghai (China, Asia)

In [93]:
locations = {'North America': {'USA': ['Mountain View']}}

In [94]:
locations['North America']['USA'].append('Atlanta')
locations['Asia'] = {'India': ['Bangalore'] }
locations['Africa'] = {'Egypt': ['Cairo']}
locations["Asia"]['China'] = ['Shanghai']

locations

{'North America': {'USA': ['Mountain View', 'Atlanta']},
 'Asia': {'India': ['Bangalore'], 'China': ['Shanghai']},
 'Africa': {'Egypt': ['Cairo']}}

### 1. A list of all cities in the USA in alphabetic order.

`American City
American City`

In [95]:
# we want 2 elements of a list
locations['North America']['USA']

['Mountain View', 'Atlanta']

In [4]:
amrican_cities = sorted(locations['North America']['USA'])
print(*amrican_cities, sep = '\n')

Atlanta
Mountain View

### 2. All cities in Asia, in alphabetic order, next to the name of the country.
`
Asian City - Country
Asian City - Country
`

In [27]:
locations

{'North America': {'USA': ['Mountain View', 'Atlanta', 'Atlanta', 'Atlanta']},
 'Asia': {'India': ['Bangalore'], 'China': ['Shanghai']},
 'Africa': {'Egypt': ['Cairo']}}

In [98]:
locations['Asia']

{'India': ['Bangalore'], 'China': ['Shanghai']}

In [39]:
# we want key-value pairs in a dict
for count, city in locations['Asia'].items():
    print(city[0] + ' - ' + count)

Bangalore - India
Shanghai - China

### Or:

In [102]:
print(f"""
{(sorted(locations['Asia'].values())[0][0])} - {list(locations['Asia'].keys())[0]}
{(sorted(locations['Asia'].values())[1][0])} - {list(locations['Asia'].keys())[1]}
""")

Bangalore - India
Shanghai - China